PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2025-05-25 17:18:32.594032');
INSERT INTO django_migrations VALUES(2,'contenttypes','0002_remove_content_type_name','2025-05-25 17:18:32.620029');
INSERT INTO django_migrations VALUES(3,'auth','0001_initial','2025-05-25 17:18:32.660558');
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "users_customuser" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "first_name" varchar(150) NOT NULL, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "profile_image" varchar(100) NULL, "professional_activity" varchar(255) NULL, "region" varchar(100) NULL, "account_type" varchar(10) NOT NULL);
INSERT INTO users_customuser VALUES(1,'pbkdf2_sha256$1000000$8LdoPtUQFSgqii8wS1s1Px$xiVunCUSE5LcTtQXkjquDFLO+HtDEEyLYh0wf0TUJdE=','2025-08-18 12:53:27.843970',1,'sukeliagri','','','mahdiajf@gmail.com',1,1,'2025-05-25 17:19:44.284572','',NULL,NULL,'producer');
INSERT INTO users_customuser VALUES(2,'pbkdf2_sha256$1000000$mfmkbtMfM2ZvFODPgFpEX9$2aQn2ykOesDBFZMBNejZL2Yx8pS1AcfKQZw421WMo2I=',NULL,0,'Houraye','','','houraye@gmail.com',0,1,'2025-05-26 15:39:08.307076','','Vendeuse','Dakar','producer');
INSERT INTO users_customuser VALUES(8,'pbkdf2_sha256$1000000$8ivMThqRoNuvBbpXkSxa4G$LmrNwL1JNVaQXeAx/eWs2YSv83dmM8TgJVyHemkzbF0=',NULL,0,'Ablaye','','','a@gmail.com',0,1,'2025-08-18 13:02:32.022272','',NULL,NULL,'producer');
CREATE TABLE IF NOT EXISTS "users_customuser_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "customuser_id" bigint NOT NULL REFERENCES "users_customuser" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "users_customuser_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "customuser_id" bigint NOT NULL REFERENCES "users_customuser" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NOT NULL REFERENCES "users_customuser" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
INSERT INTO django_admin_log VALUES(1,'1','Ben Barack',1,'[{"added": {}}]',7,1,'2025-05-26 15:53:17.585097');
INSERT INTO django_admin_log VALUES(2,'1','Ben Barack',3,'',7,1,'2025-06-02 13:21:48.994382');
INSERT INTO django_admin_log VALUES(3,'3','Sama benen ferme',3,'',7,1,'2025-06-02 13:26:46.218959');
CREATE TABLE IF NOT EXISTS "farm_management_farm" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL, "latitude" real NULL, "longitude" real NULL, "location" varchar(255) NOT NULL, "size_in_hectares" decimal NOT NULL, "created_at" datetime NOT NULL, "owner_id" bigint NOT NULL REFERENCES "users_customuser" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO farm_management_farm VALUES(2,'Sama Ferme',17.0,14.0,'Keur Massar',12,'2025-06-02 11:38:22.098004',2);
INSERT INTO farm_management_farm VALUES(4,'Sama benene ferme',0.0,0.0,'Mbour',10,'2025-06-03 10:20:54.128234',2);
INSERT INTO farm_management_farm VALUES(8,'ferme ablaye',14.77162159999999958,-17.32372549999999833,'Keur Massar',10,'2025-08-18 13:03:07.045223',8);
CREATE TABLE IF NOT EXISTS "farm_management_crop" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL, "planting_date" date NOT NULL, "expected_harvest_date" date NOT NULL, "area_covered" decimal NOT NULL, "crop_type" varchar(100) NOT NULL, "farm_id" bigint NOT NULL REFERENCES "farm_management_farm" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO farm_management_crop VALUES(4,'Niebe','2025-06-04','2025-06-24',5,'dhhsv',2);
INSERT INTO farm_management_crop VALUES(5,'mil','2025-06-19','2025-07-26',20,'saisonniere',2);
INSERT INTO farm_management_crop VALUES(6,'fth','2025-06-28','2025-06-28',500,'wfgg',2);
CREATE TABLE IF NOT EXISTS "farm_management_farmactivity" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "activity_type" varchar(50) NOT NULL, "planned_date" date NOT NULL, "status" varchar(50) NOT NULL, "crop_id" bigint NOT NULL REFERENCES "farm_management_crop" ("id") DEFERRABLE INITIALLY DEFERRED, "farm_id" bigint NOT NULL REFERENCES "farm_management_farm" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO farm_management_farmactivity VALUES(3,'irrigation','2025-06-18','planned',4,2);
CREATE TABLE IF NOT EXISTS "farm_management_resource" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL, "quantity" decimal NOT NULL, "unit" varchar(50) NOT NULL, "farm_id" bigint NOT NULL REFERENCES "farm_management_farm" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO farm_management_resource VALUES(3,'angrais',12,'KG',2);
INSERT INTO farm_management_resource VALUES(4,'dghhh',280,'kg',2);
INSERT INTO farm_management_resource VALUES(5,'tgh',500,'kg',2);
CREATE TABLE IF NOT EXISTS "farm_management_sensor" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "sensor_type" varchar(50) NOT NULL, "installation_date" date NOT NULL, "last_reading_value" real NULL, "last_reading_time" datetime NULL, "farm_id" bigint NOT NULL REFERENCES "farm_management_farm" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO farm_management_sensor VALUES(2,'temperature','2025-06-20',NULL,NULL,2);
INSERT INTO farm_management_sensor VALUES(3,'soil_moisture','2025-06-20',NULL,NULL,2);
INSERT INTO farm_management_sensor VALUES(4,'soil_moisture','2025-06-11',NULL,NULL,2);
CREATE TABLE IF NOT EXISTS "farm_management_sensorreading" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "timestamp" datetime NOT NULL, "value" real NOT NULL, "sensor_id" bigint NOT NULL REFERENCES "farm_management_sensor" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO farm_management_sensorreading VALUES(1,'2025-06-03 10:53:38.482225',1.0,2);
INSERT INTO farm_management_sensorreading VALUES(2,'2025-06-03 10:53:49.122289',4.0,2);
INSERT INTO farm_management_sensorreading VALUES(3,'2025-06-03 10:53:59.522482',7.0,2);
CREATE TABLE IF NOT EXISTS "farm_management_weatherforecast" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "date" date NOT NULL, "temperature" real NOT NULL, "precipitation" real NOT NULL, "wind_speed" real NOT NULL, "farm_id" bigint NOT NULL REFERENCES "farm_management_farm" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('yobh3egzemoi6v3k5tj5gqsqayz0ar3l','.eJxVjDsOwjAQBe_iGlnrLw4lfc5grb1rHECOFCcV4u4QKQW0b2beS0Tc1hq3zkucSFyEEqffLWF-cNsB3bHdZpnnti5TkrsiD9rlOBM_r4f7d1Cx129dDKM-q8xkNZOHAVICR3YwFErG5HUo2ulgHWqTWVkk74kBCdkbAPH-APyoOHY:1uJF4A:3I9lPphn0xyjCIm9Fdp1zJbJd2uNIqAawo4C3Vm2bJw','2025-06-08 17:23:18.312841');
INSERT INTO django_session VALUES('fxn5wago0484re2vmbbjlt59jujugqu5','.eJxVjDsOwjAQBe_iGlnrLw4lfc5grb1rHECOFCcV4u4QKQW0b2beS0Tc1hq3zkucSFyEEqffLWF-cNsB3bHdZpnnti5TkrsiD9rlOBM_r4f7d1Cx129dDKM-q8xkNZOHAVICR3YwFErG5HUo2ulgHWqTWVkk74kBCdkbAPH-APyoOHY:1uJa6z:AYTJyR5hUVItnKnlwCxx2LpKCjX6Bh5nLpj-Z_T7ZpE','2025-06-09 15:51:37.617546');
INSERT INTO django_session VALUES('an6hk6hzylp34fzdhy7eyiz3s3wa28gf','.eJxVjDsOwjAQBe_iGlnrLw4lfc5grb1rHECOFCcV4u4QKQW0b2beS0Tc1hq3zkucSFyEEqffLWF-cNsB3bHdZpnnti5TkrsiD9rlOBM_r4f7d1Cx129dDKM-q8xkNZOHAVICR3YwFErG5HUo2ulgHWqTWVkk74kBCdkbAPH-APyoOHY:1uM56T:q8cyXQC3oJuX45ejQWbg1IJ25SGVTO2NGukYMJ8apX4','2025-06-16 13:21:25.469201');
CREATE TABLE IF NOT EXISTS "token_blacklist_blacklistedtoken" ("blacklisted_at" datetime NOT NULL, "token_id" bigint NOT NULL UNIQUE REFERENCES "token_blacklist_outstandingtoken" ("id") DEFERRABLE INITIALLY DEFERRED, "id" integer NOT NULL PRIMARY KEY AUTOINCREMENT);
CREATE TABLE IF NOT EXISTS "token_blacklist_outstandingtoken" ("token" text NOT NULL, "created_at" datetime NULL, "expires_at" datetime NOT NULL, "user_id" bigint NULL REFERENCES "users_customuser" ("id") DEFERRABLE INITIALLY DEFERRED, "jti" varchar(255) NOT NULL UNIQUE, "id" integer NOT NULL PRIMARY KEY AUTOINCREMENT);
INSERT INTO token_blacklist_outstandingtoken VALUES('eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoicmVmcmVzaCIsImV4cCI6MTc0ODM2MDM5NSwiaWF0IjoxNzQ4MjczOTk1LCJqdGkiOiJjN2YwMzI2ZjgwMjI0MmNlOTQzMDllYjg3OWY4M2E5NyIsInVzZXJfaWQiOjJ9.wGpRC9IajnXAcs_pGYsG29X38h-kdMtqWfnR8qyFpjA','2025-05-26 15:39:55.806686','2025-05-27 15:39:55',2,'c7f0326f802242ce94309eb879f83a97',1);
INSERT INTO token_blacklist_outstandingtoken VALUES('eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoicmVmcmVzaCIsImV4cCI6MTc0ODM2MTIxMSwiaWF0IjoxNzQ4Mjc0ODExLCJqdGkiOiIxMDJlMmE0MDRjODA0N2RmODU4NjllY2MzNzU4ZDg3ZSIsInVzZXJfaWQiOjJ9.ukuwbRaF55_AjiR4CifZLISkT_zU-utID5mXX3hIuLg','2025-05-26 15:53:31.884874','2025-05-27 15:53:31',2,'102e2a404c8047df85869ecc3758d87e',2);
INSERT INTO token_blacklist_outstandingtoken VALUES('eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoicmVmcmVzaCIsImV4cCI6MTc0ODM2Mjg2OCwiaWF0IjoxNzQ4Mjc2NDY4LCJqdGkiOiIwY2UyMGVhYjdhNmU0NjRkODcyYjM0ZWMzNmZkNWU3ZSIsInVzZXJfaWQiOjJ9.x3K6mCz7iEF6FKd0QBrDZhYWSz7C5aLkDpPiF_Kva0w','2025-05-26 16:21:08.249941','2025-05-27 16:21:08',2,'0ce20eab7a6e464d872b34ec36fd5e7e',3);
CREATE TABLE IF NOT EXISTS "market_category" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL, "description" text NULL, "Category_image" varchar(100) NULL, "parent_id" bigint NULL REFERENCES "market_category" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO market_category VALUES(1,'C├®r├®ales','Des c├®r├®ales du S├®n├®gal','',NULL);
INSERT INTO market_category VALUES(2,'Fruits','Fruits du S├®n├®gal','',NULL);
INSERT INTO market_category VALUES(3,'L├®gumes','L├®gumes du S├®n├®gal','',NULL);
CREATE TABLE IF NOT EXISTS "market_order" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "created_at" datetime NOT NULL, "total_amount" decimal NOT NULL, "status" varchar(15) NOT NULL, "author_id" bigint NOT NULL REFERENCES "users_customuser" ("id") DEFERRABLE INITIALLY DEFERRED, "shop_id" bigint NULL REFERENCES "market_shop" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO market_order VALUES(1,'2025-06-23 19:14:21.449374',200,'pending',2,1);
INSERT INTO market_order VALUES(2,'2025-07-18 18:27:30.786473',150,'pending',2,1);
CREATE TABLE IF NOT EXISTS "market_orderitem" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "quantity" integer unsigned NOT NULL CHECK ("quantity" >= 0), "price" decimal NOT NULL, "order_id" bigint NOT NULL REFERENCES "market_order" ("id") DEFERRABLE INITIALLY DEFERRED, "product_id" bigint NOT NULL REFERENCES "market_product" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO market_orderitem VALUES(1,1,200,1,12);
INSERT INTO market_orderitem VALUES(2,1,150,2,16);
CREATE TABLE IF NOT EXISTS "market_report" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "report_type" varchar(50) NOT NULL, "related_object_id" integer unsigned NULL CHECK ("related_object_id" >= 0), "data" text NOT NULL CHECK ((JSON_VALID("data") OR "data" IS NULL)), "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "related_object_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "market_review" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "rating" integer unsigned NOT NULL CHECK ("rating" >= 0), "comment" text NOT NULL, "review_date" datetime NOT NULL, "product_id" bigint NOT NULL REFERENCES "market_product" ("id") DEFERRABLE INITIALLY DEFERRED, "reviewer_id" bigint NOT NULL REFERENCES "users_customuser" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "market_shop" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(255) NOT NULL UNIQUE, "description" text NULL, "address" text NULL, "contact_email" varchar(254) NULL, "contact_phone" varchar(15) NULL, "shop_image" varchar(100) NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "owner_id" bigint NOT NULL REFERENCES "users_customuser" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO market_shop VALUES(1,'Sama Boutique','Vente de tout types de produits','Keur Massar','ibrahimab66666666@gmail.com','785254689','','2025-06-06 12:30:42.039357','2025-06-06 12:30:42.039408',2);
CREATE TABLE IF NOT EXISTS "market_product" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(255) NOT NULL, "description" text NULL, "product_image" varchar(100) NULL, "product_demo" varchar(100) NULL, "price" integer unsigned NOT NULL CHECK ("price" >= 0), "stock" integer unsigned NOT NULL CHECK ("stock" >= 0), "category_id" bigint NOT NULL REFERENCES "market_category" ("id") DEFERRABLE INITIALLY DEFERRED, "shop_id" bigint NOT NULL REFERENCES "market_shop" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO market_product VALUES(12,'riz local','riz cultiv├® au S├®n├®gal','product_images/download_3.jpeg','product_videos/Les_rizi├¿res_en_terrasse_├á_l├á_saison_de_plantation_du_riz_Vietnam360P.mp4',200,50,1,1);
INSERT INTO market_product VALUES(13,'mil','culture local','product_images/download_4.jpeg','product_videos/recolte_du_mil_en_pays_lobu360P.mp4',200,40,1,1);
INSERT INTO market_product VALUES(14,'mais','culture local','product_images/download_5.jpeg','product_videos/Conseil_1_dans_la_culture_du_ma├»s_A-Z__agriculture_au_village360P.mp4',250,45,1,1);
CREATE TABLE IF NOT EXISTS "market_like" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "created_at" datetime NOT NULL, "user_id" bigint NOT NULL REFERENCES "users_customuser" ("id") DEFERRABLE INITIALLY DEFERRED, "product_id" bigint NOT NULL REFERENCES "market_product" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "market_cartitem" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "quantity" integer unsigned NOT NULL CHECK ("quantity" >= 0), "added_at" datetime NOT NULL, "user_id" bigint NOT NULL REFERENCES "users_customuser" ("id") DEFERRABLE INITIALLY DEFERRED, "product_id" bigint NOT NULL REFERENCES "market_product" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO market_cartitem VALUES(13,1,'2025-07-22 10:39:09.923624',2,12);
CREATE TABLE IF NOT EXISTS "forum_category" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL, "description" text NOT NULL);
INSERT INTO forum_category VALUES(1,'Production','Discussions sue l''activit├® de production');
INSERT INTO forum_category VALUES(2,'March├®','Discussion sur les tendances du march├®');
CREATE TABLE IF NOT EXISTS "forum_post" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "author_profile" varchar(100) NULL, "title" varchar(255) NOT NULL, "content" text NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "author_id" bigint NOT NULL REFERENCES "users_customuser" ("id") DEFERRABLE INITIALLY DEFERRED, "category_id" bigint NOT NULL REFERENCES "forum_category" ("id") DEFERRABLE INITIALLY DEFERRED, "audio_message" varchar(100) NULL, "video" varchar(100) NULL);
INSERT INTO forum_post VALUES(1,'','dghsjcsjvcx','eghsvvsjkdgg','2025-06-11 12:46:38.524675','2025-06-11 12:46:38.524729',2,1,NULL,NULL);
INSERT INTO forum_post VALUES(2,'','ehusjh','evhsbcshgx','2025-06-12 10:25:59.915769','2025-06-12 10:25:59.915814',2,1,'','post_videos/How_to_make_an_Automated_Watering_System__Automating_a_Greenhouse_with_LoRa__SQ7ZwZQ.mp4');
CREATE TABLE IF NOT EXISTS "forum_comment" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "author_profile" varchar(100) NULL, "content" text NOT NULL, "created_at" datetime NOT NULL, "author_id" bigint NOT NULL REFERENCES "users_customuser" ("id") DEFERRABLE INITIALLY DEFERRED, "post_id" bigint NOT NULL REFERENCES "forum_post" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO forum_comment VALUES(1,'','ghhfhhjj','2025-06-11 12:58:06.194613',2,1);
INSERT INTO forum_comment VALUES(2,'','dggsjj','2025-06-12 11:18:33.250287',2,2);
CREATE TABLE IF NOT EXISTS "forum_follow" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "created_at" datetime NOT NULL, "category_id" bigint NOT NULL REFERENCES "forum_category" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NOT NULL REFERENCES "users_customuser" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "forum_like" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "created_at" datetime NOT NULL, "user_id" bigint NOT NULL REFERENCES "users_customuser" ("id") DEFERRABLE INITIALLY DEFERRED, "post_id" bigint NOT NULL REFERENCES "forum_post" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO forum_like VALUES(4,'2025-06-12 09:14:39.670707',2,1);
CREATE TABLE IF NOT EXISTS "parcelle_culture" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nom" varchar(100) NOT NULL, "description" text NULL, "cycle_min" integer NULL, "cycle_max" integer NULL, "rendement_min_t_ha" real NULL, "rendement_max_t_ha" real NULL, "quantite_semence_g_ha" real NULL, "type_culture" varchar(20) NOT NULL, "saisonnalite" varchar(200) NULL, "image" varchar(100) NULL);
INSERT INTO parcelle_culture VALUES(1,'Chou','L├®gume feuille cultiv├® pour ses t├¬tes.',90,120,20.0,35.0,500.0,'conventionnel','Hivernale, saison s├¿che','cultures/Chou_pTel3hx.png');
INSERT INTO parcelle_culture VALUES(2,'Concombres ­ƒÑÆ','concombre locale',90,120,30.0,50.0,2.5,'conventionnel','Saison fr├óiche','');
CREATE TABLE IF NOT EXISTS "parcelle_produitphytosanitaire" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nom_commercial" varchar(100) NOT NULL, "matiere_active" varchar(100) NOT NULL, "type_produit" varchar(50) NOT NULL, "image" varchar(100) NULL);
INSERT INTO parcelle_produitphytosanitaire VALUES(1,'Decis Protech','Nematox/Clorsban','insecticide','produits_phytos/PTCHOUJ0.png');
INSERT INTO parcelle_produitphytosanitaire VALUES(2,'Fongisol','Metalaxyl','fongicide','produits_phytos/fongicides.png');
INSERT INTO parcelle_produitphytosanitaire VALUES(3,'Fongicide','Phostal','fongicide','');
CREATE TABLE IF NOT EXISTS "parcelle_variete" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nom" varchar(100) NOT NULL, "distance_plantation" varchar(50) NOT NULL, "rendement_min" real NULL, "rendement_max" real NULL, "quantite_semence_ha" real NULL, "periode_culture" varchar(100) NULL, "besoins_eau" text NULL, "techniques_greffage" text NULL, "maladies_frequentes" text NULL, "produits_recommandes" text NULL, "culture_id" bigint NOT NULL REFERENCES "parcelle_culture" ("id") DEFERRABLE INITIALLY DEFERRED, "image" varchar(100) NULL);
INSERT INTO parcelle_variete VALUES(1,'Chou Cabus Vert','50x50 cm',20.0,30.0,500.0,'Octobre ├á F├®vrier','Irrigation r├®guli├¿re en p├®riode s├¿che','Non concern├® (laisser vide si pas applicable)','Altise, hernie du chou','Insecticides naturels ou bio',1,'varietes/Chou_tK1Yrby.png');
INSERT INTO parcelle_variete VALUES(2,'Poinsette','1x1 m',30.0,50.0,2.5,'Saison fr├«che','60 m├¿tre cube par hectare par jour','','Maladies fongiques (rhizotone brun, Dosporiose, Mildiou, Oidim)','',2,'');
INSERT INTO parcelle_variete VALUES(3,'Oranger Valencia Late','7x7 m',20.0,60.0,1.0,'Floraison ├á r├®colte selon vari├®t├®s','Pluviom├®trie : 1500 mm/an, besoin mensuel : 30-50 m3/jour/ha','Utiliser s├®cateur d├®sinfect├®, conservation greffons ├á 10-12┬░C, 75-90% HR','Chancre bact├®rien, fumagine, cercosporiose, tristeza, mal secco','Voir Produits Phytosanitaires associ├®s',3,'varietes/Valencia_Late.png');
CREATE TABLE IF NOT EXISTS "parcelle_parcelle" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "date_plantation" date NOT NULL, "climat" varchar(100) NULL, "type_sol" varchar(100) NULL, "farm_id" bigint NOT NULL REFERENCES "farm_management_farm" ("id") DEFERRABLE INITIALLY DEFERRED, "variete_id" bigint NOT NULL REFERENCES "parcelle_variete" ("id") DEFERRABLE INITIALLY DEFERRED, "rendement_max" real NULL, "rendement_min" real NULL, "saison" varchar(50) NULL, "semences_necessaires_g" real NULL, "surface_ha" real NULL, "type_culture" varchar(20) NULL);
INSERT INTO parcelle_parcelle VALUES(53,'2025-08-18',NULL,NULL,2,1,700.0,400.0,'hivernage',10000.0,20.0,'conventionnel');
INSERT INTO parcelle_parcelle VALUES(55,'2025-08-18',NULL,NULL,8,1,350.0,200.0,'hivernage',5000.0,10.0,'conventionnel');
CREATE TABLE IF NOT EXISTS "parcelle_fertilisation" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "jour" integer NOT NULL, "type_engrais" varchar(100) NOT NULL, "dose_ha" varchar(100) NOT NULL, "mode_application" varchar(100) NULL, "variete_id" bigint NOT NULL REFERENCES "parcelle_variete" ("id") DEFERRABLE INITIALLY DEFERRED, "illustration" varchar(100) NULL);
INSERT INTO parcelle_fertilisation VALUES(1,0,'Compost','10 t/ha','Enfouissement',1,'fertilisations/FJ0_Chou_cubus.png');
INSERT INTO parcelle_fertilisation VALUES(2,20,'NPK 15-15-15','300 kg/ha','En poquet',1,'');
INSERT INTO parcelle_fertilisation VALUES(3,45,'Ur├®e','100','En arrosage',1,'');
CREATE TABLE IF NOT EXISTS "parcelle_parcelle_etapes" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "parcelle_id" bigint NOT NULL REFERENCES "parcelle_parcelle" ("id") DEFERRABLE INITIALLY DEFERRED, "etapeculture_id" bigint NOT NULL REFERENCES "parcelle_etapeculture" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO parcelle_parcelle_etapes VALUES(256,53,1);
INSERT INTO parcelle_parcelle_etapes VALUES(257,53,2);
INSERT INTO parcelle_parcelle_etapes VALUES(258,53,3);
CREATE TABLE IF NOT EXISTS "parcelle_parcelle_fertilisations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "parcelle_id" bigint NOT NULL REFERENCES "parcelle_parcelle" ("id") DEFERRABLE INITIALLY DEFERRED, "fertilisation_id" bigint NOT NULL REFERENCES "parcelle_fertilisation" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO parcelle_parcelle_fertilisations VALUES(222,53,1);
INSERT INTO parcelle_parcelle_fertilisations VALUES(223,53,2);
INSERT INTO parcelle_parcelle_fertilisations VALUES(224,53,3);
CREATE TABLE IF NOT EXISTS "parcelle_parcelle_traitements" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "parcelle_id" bigint NOT NULL REFERENCES "parcelle_parcelle" ("id") DEFERRABLE INITIALLY DEFERRED, "traitementphytosanitaire_id" bigint NOT NULL REFERENCES "parcelle_traitementphytosanitaire" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO parcelle_parcelle_traitements VALUES(114,53,1);
INSERT INTO parcelle_parcelle_traitements VALUES(115,53,2);
INSERT INTO parcelle_parcelle_traitements VALUES(118,55,1);
CREATE TABLE IF NOT EXISTS "parcelle_etapeculture" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nom" varchar(100) NOT NULL, "description" text NOT NULL, "frequence" varchar(50) NOT NULL, "culture_id" bigint NOT NULL REFERENCES "parcelle_culture" ("id") DEFERRABLE INITIALLY DEFERRED, "image" varchar(100) NULL, "delai_apres_plantation" integer unsigned NOT NULL CHECK ("delai_apres_plantation" >= 0));
INSERT INTO parcelle_etapeculture VALUES(1,'Semis','Semis en p├®pini├¿re','Unique',1,'',0);
INSERT INTO parcelle_etapeculture VALUES(2,'Repiquage','Transfert jeunes plants en plein champ','Unique',1,'',21);
INSERT INTO parcelle_etapeculture VALUES(3,'Binage','D├®sherbage m├®canique','Tous les 10 jours',1,'',30);
CREATE TABLE IF NOT EXISTS "parcelle_calendrierculture" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "date_prevue" date NOT NULL, "alerte_envoyee" bool NOT NULL, "parcelle_id" bigint NOT NULL REFERENCES "parcelle_parcelle" ("id") DEFERRABLE INITIALLY DEFERRED, "commentaire" text NULL, "fertilisation_id" bigint NULL REFERENCES "parcelle_fertilisation" ("id") DEFERRABLE INITIALLY DEFERRED, "traitement_id" bigint NULL REFERENCES "parcelle_traitementphytosanitaire" ("id") DEFERRABLE INITIALLY DEFERRED, "etape_id" bigint NULL REFERENCES "parcelle_etapeculture" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO parcelle_calendrierculture VALUES(590,'2025-08-18',0,53,NULL,NULL,NULL,1);
INSERT INTO parcelle_calendrierculture VALUES(591,'2025-09-08',0,53,NULL,NULL,NULL,2);
INSERT INTO parcelle_calendrierculture VALUES(592,'2025-09-17',0,53,NULL,NULL,NULL,3);
CREATE TABLE IF NOT EXISTS "parcelle_traitementphytosanitaire" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "jour" integer NOT NULL, "type_traitement" varchar(100) NOT NULL, "cible" varchar(100) NOT NULL, "matiere_active" varchar(100) NULL, "variete_id" bigint NOT NULL REFERENCES "parcelle_variete" ("id") DEFERRABLE INITIALLY DEFERRED, "illustration" varchar(100) NULL, "produit_id" bigint NULL REFERENCES "parcelle_produitphytosanitaire" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO parcelle_traitementphytosanitaire VALUES(1,25,unistr('Insecticide\u0009Decis Protech'),'Altises','Deltam├®thrine',1,'traitements/PTCHOUJ0.png',1);
INSERT INTO parcelle_traitementphytosanitaire VALUES(2,60,'Fongicide','Hernie du chou','Metalaxyl',1,'traitements/fongicides.png',2);
INSERT INTO parcelle_traitementphytosanitaire VALUES(3,0,'Fongicide','Champignon','Oxychlorure de cuivre',2,'',3);
CREATE TABLE IF NOT EXISTS "django_celery_beat_intervalschedule" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "every" integer NOT NULL, "period" varchar(24) NOT NULL);
INSERT INTO django_celery_beat_intervalschedule VALUES(1,1,'days');
CREATE TABLE IF NOT EXISTS "django_celery_beat_periodictasks" ("ident" smallint NOT NULL PRIMARY KEY, "last_update" datetime NOT NULL);
INSERT INTO django_celery_beat_periodictasks VALUES(1,'2025-07-14 19:29:06.241826');
CREATE TABLE IF NOT EXISTS "django_celery_beat_solarschedule" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "event" varchar(24) NOT NULL, "latitude" decimal NOT NULL, "longitude" decimal NOT NULL);
CREATE TABLE IF NOT EXISTS "django_celery_beat_periodictask" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(200) NOT NULL UNIQUE, "task" varchar(200) NOT NULL, "args" text NOT NULL, "kwargs" text NOT NULL, "queue" varchar(200) NULL, "exchange" varchar(200) NULL, "routing_key" varchar(200) NULL, "expires" datetime NULL, "enabled" bool NOT NULL, "last_run_at" datetime NULL, "total_run_count" integer unsigned NOT NULL CHECK ("total_run_count" >= 0), "date_changed" datetime NOT NULL, "description" text NOT NULL, "crontab_id" integer NULL REFERENCES "django_celery_beat_crontabschedule" ("id") DEFERRABLE INITIALLY DEFERRED, "interval_id" integer NULL REFERENCES "django_celery_beat_intervalschedule" ("id") DEFERRABLE INITIALLY DEFERRED, "solar_id" integer NULL REFERENCES "django_celery_beat_solarschedule" ("id") DEFERRABLE INITIALLY DEFERRED, "one_off" bool NOT NULL, "start_time" datetime NULL, "priority" integer unsigned NULL CHECK ("priority" >= 0), "headers" text NOT NULL, "clocked_id" integer NULL REFERENCES "django_celery_beat_clockedschedule" ("id") DEFERRABLE INITIALLY DEFERRED, "expire_seconds" integer unsigned NULL CHECK ("expire_seconds" >= 0));
INSERT INTO django_celery_beat_periodictask VALUES(1,'notification_culture','culture','[]','{}',NULL,NULL,NULL,NULL,1,NULL,0,'2025-07-14 19:29:06.240305','',NULL,1,NULL,0,NULL,NULL,'{}',NULL,NULL);
CREATE TABLE IF NOT EXISTS "django_celery_beat_clockedschedule" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "clocked_time" datetime NOT NULL);
CREATE TABLE IF NOT EXISTS "django_celery_beat_crontabschedule" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "minute" varchar(240) NOT NULL, "hour" varchar(96) NOT NULL, "day_of_week" varchar(64) NOT NULL, "day_of_month" varchar(124) NOT NULL, "month_of_year" varchar(64) NOT NULL, "timezone" varchar(63) NOT NULL);
INSERT INTO django_celery_beat_crontabschedule VALUES(1,'*','*','*','*','*','UTC');
CREATE TABLE IF NOT EXISTS "fcm_django_fcmdevice" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(255) NULL, "active" bool NOT NULL, "date_created" datetime NULL, "device_id" varchar(255) NULL, "type" varchar(10) NOT NULL, "user_id" bigint NULL REFERENCES "users_customuser" ("id") DEFERRABLE INITIALLY DEFERRED, "registration_id" text NOT NULL UNIQUE);
INSERT INTO fcm_django_fcmdevice VALUES(19,NULL,1,'2025-08-18 13:02:34.233103',NULL,'android',8,'c5N47hb5TmK-zmedU2xmOM:APA91bFXE0PO7ychosBJTTFtm5tsYujNyP03HuUAEKmkeDhgR3IclcyJfwJ1WzvepFCksp3BeT2RIl5EEfcIhMr7_x-1RyhzSzBYSH4neOj-wv5WWs75uds');
CREATE TABLE IF NOT EXISTS "parcelle_notificationlog" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "message" text NOT NULL, "date_envoi" datetime NOT NULL, "canal" varchar(20) NOT NULL, "envoyee" bool NOT NULL, "data_json" text NULL CHECK ((JSON_VALID("data_json") OR "data_json" IS NULL)), "farm_id" bigint NOT NULL REFERENCES "farm_management_farm" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO sqlite_sequence VALUES('django_migrations',79);
INSERT INTO sqlite_sequence VALUES('django_content_type',47);
INSERT INTO sqlite_sequence VALUES('auth_permission',188);
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE UNIQUE INDEX "users_customuser_groups_customuser_id_group_id_76b619e3_uniq" ON "users_customuser_groups" ("customuser_id", "group_id");
CREATE INDEX "users_customuser_groups_customuser_id_958147bf" ON "users_customuser_groups" ("customuser_id");
CREATE INDEX "users_customuser_groups_group_id_01390b14" ON "users_customuser_groups" ("group_id");
CREATE UNIQUE INDEX "users_customuser_user_permissions_customuser_id_permission_id_7a7debf6_uniq" ON "users_customuser_user_permissions" ("customuser_id", "permission_id");
CREATE INDEX "users_customuser_user_permissions_customuser_id_5771478b" ON "users_customuser_user_permissions" ("customuser_id");
CREATE INDEX "users_customuser_user_permissions_permission_id_baaa2f74" ON "users_customuser_user_permissions" ("permission_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE INDEX "farm_management_farm_owner_id_e32299ef" ON "farm_management_farm" ("owner_id");
CREATE INDEX "farm_management_crop_farm_id_10600e94" ON "farm_management_crop" ("farm_id");
CREATE INDEX "farm_management_farmactivity_crop_id_d04b27b8" ON "farm_management_farmactivity" ("crop_id");
CREATE INDEX "farm_management_farmactivity_farm_id_f70b896c" ON "farm_management_farmactivity" ("farm_id");
CREATE INDEX "farm_management_resource_farm_id_a9ca473f" ON "farm_management_resource" ("farm_id");
CREATE INDEX "farm_management_sensor_farm_id_1f176471" ON "farm_management_sensor" ("farm_id");
CREATE INDEX "farm_management_sensorreading_sensor_id_c07842cb" ON "farm_management_sensorreading" ("sensor_id");
CREATE INDEX "farm_management_weatherforecast_farm_id_c496c0d7" ON "farm_management_weatherforecast" ("farm_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "token_blacklist_outstandingtoken_user_id_83bc629a" ON "token_blacklist_outstandingtoken" ("user_id");
CREATE INDEX "market_category_parent_id_752e8278" ON "market_category" ("parent_id");
CREATE INDEX "market_order_author_id_d43e1574" ON "market_order" ("author_id");
CREATE INDEX "market_orderitem_order_id_c1721cac" ON "market_orderitem" ("order_id");
CREATE INDEX "market_orderitem_product_id_ce40d2a9" ON "market_orderitem" ("product_id");
CREATE INDEX "market_report_related_object_type_id_69412e34" ON "market_report" ("related_object_type_id");
CREATE INDEX "market_review_product_id_39f63d72" ON "market_review" ("product_id");
CREATE INDEX "market_review_reviewer_id_7c1c0372" ON "market_review" ("reviewer_id");
CREATE INDEX "market_shop_owner_id_c0de3f12" ON "market_shop" ("owner_id");
CREATE INDEX "market_product_category_id_68f368e0" ON "market_product" ("category_id");
CREATE INDEX "market_product_shop_id_adbe482e" ON "market_product" ("shop_id");
CREATE INDEX "market_order_shop_id_fdfe5c69" ON "market_order" ("shop_id");
CREATE UNIQUE INDEX "market_like_user_id_product_id_f81e8134_uniq" ON "market_like" ("user_id", "product_id");
CREATE INDEX "market_like_user_id_2eba37c2" ON "market_like" ("user_id");
CREATE INDEX "market_like_product_id_4ca4605f" ON "market_like" ("product_id");
CREATE UNIQUE INDEX "market_cartitem_user_id_product_id_b3e9f482_uniq" ON "market_cartitem" ("user_id", "product_id");
CREATE INDEX "market_cartitem_user_id_722f25e0" ON "market_cartitem" ("user_id");
CREATE INDEX "market_cartitem_product_id_80cba611" ON "market_cartitem" ("product_id");
CREATE INDEX "forum_post_author_id_609b7963" ON "forum_post" ("author_id");
CREATE INDEX "forum_post_category_id_202e3ede" ON "forum_post" ("category_id");
CREATE INDEX "forum_comment_author_id_9e60eecd" ON "forum_comment" ("author_id");
CREATE INDEX "forum_comment_post_id_eb329692" ON "forum_comment" ("post_id");
CREATE UNIQUE INDEX "forum_follow_user_id_category_id_6a9a80b1_uniq" ON "forum_follow" ("user_id", "category_id");
CREATE INDEX "forum_follow_category_id_cccfa004" ON "forum_follow" ("category_id");
CREATE INDEX "forum_follow_user_id_c920b2ee" ON "forum_follow" ("user_id");
CREATE UNIQUE INDEX "forum_like_user_id_post_id_c605c7a2_uniq" ON "forum_like" ("user_id", "post_id");
CREATE INDEX "forum_like_user_id_4638b7e9" ON "forum_like" ("user_id");
CREATE INDEX "forum_like_post_id_6a83dbbe" ON "forum_like" ("post_id");
CREATE INDEX "parcelle_variete_culture_id_b0723c81" ON "parcelle_variete" ("culture_id");
CREATE INDEX "parcelle_parcelle_farm_id_0eb0b80a" ON "parcelle_parcelle" ("farm_id");
CREATE INDEX "parcelle_parcelle_variete_id_37c954d8" ON "parcelle_parcelle" ("variete_id");
CREATE INDEX "parcelle_fertilisation_variete_id_62cde640" ON "parcelle_fertilisation" ("variete_id");
CREATE UNIQUE INDEX "parcelle_parcelle_etapes_parcelle_id_etapeculture_id_d73b647e_uniq" ON "parcelle_parcelle_etapes" ("parcelle_id", "etapeculture_id");
CREATE INDEX "parcelle_parcelle_etapes_parcelle_id_d1f2182c" ON "parcelle_parcelle_etapes" ("parcelle_id");
CREATE INDEX "parcelle_parcelle_etapes_etapeculture_id_274df826" ON "parcelle_parcelle_etapes" ("etapeculture_id");
CREATE UNIQUE INDEX "parcelle_parcelle_fertilisations_parcelle_id_fertilisation_id_546a165e_uniq" ON "parcelle_parcelle_fertilisations" ("parcelle_id", "fertilisation_id");
CREATE INDEX "parcelle_parcelle_fertilisations_parcelle_id_780daa7f" ON "parcelle_parcelle_fertilisations" ("parcelle_id");
CREATE INDEX "parcelle_parcelle_fertilisations_fertilisation_id_f6fbb875" ON "parcelle_parcelle_fertilisations" ("fertilisation_id");
CREATE UNIQUE INDEX "parcelle_parcelle_traitements_parcelle_id_traitementphytosanitaire_id_738bee95_uniq" ON "parcelle_parcelle_traitements" ("parcelle_id", "traitementphytosanitaire_id");
CREATE INDEX "parcelle_parcelle_traitements_parcelle_id_1ed4d4f4" ON "parcelle_parcelle_traitements" ("parcelle_id");
CREATE INDEX "parcelle_parcelle_traitements_traitementphytosanitaire_id_03623b44" ON "parcelle_parcelle_traitements" ("traitementphytosanitaire_id");
CREATE INDEX "parcelle_etapeculture_culture_id_39221fed" ON "parcelle_etapeculture" ("culture_id");
CREATE INDEX "parcelle_calendrierculture_parcelle_id_d4eba51d" ON "parcelle_calendrierculture" ("parcelle_id");
CREATE INDEX "parcelle_calendrierculture_fertilisation_id_42223499" ON "parcelle_calendrierculture" ("fertilisation_id");
CREATE INDEX "parcelle_calendrierculture_traitement_id_445d5a2e" ON "parcelle_calendrierculture" ("traitement_id");
CREATE INDEX "parcelle_calendrierculture_etape_id_96ef934f" ON "parcelle_calendrierculture" ("etape_id");
CREATE INDEX "parcelle_traitementphytosanitaire_variete_id_22028970" ON "parcelle_traitementphytosanitaire" ("variete_id");
CREATE INDEX "parcelle_traitementphytosanitaire_produit_id_8a7ca0ab" ON "parcelle_traitementphytosanitaire" ("produit_id");
CREATE UNIQUE INDEX "django_celery_beat_solarschedule_event_latitude_longitude_ba64999a_uniq" ON "django_celery_beat_solarschedule" ("event", "latitude", "longitude");
CREATE INDEX "django_celery_beat_periodictask_crontab_id_d3cba168" ON "django_celery_beat_periodictask" ("crontab_id");
CREATE INDEX "django_celery_beat_periodictask_interval_id_a8ca27da" ON "django_celery_beat_periodictask" ("interval_id");
CREATE INDEX "django_celery_beat_periodictask_solar_id_a87ce72c" ON "django_celery_beat_periodictask" ("solar_id");
CREATE INDEX "django_celery_beat_periodictask_clocked_id_47a69f82" ON "django_celery_beat_periodictask" ("clocked_id");
CREATE INDEX "fcm_django_fcmdevice_device_id_a9406c36" ON "fcm_django_fcmdevice" ("device_id");
CREATE INDEX "fcm_django_fcmdevice_user_id_6cdfc0a2" ON "fcm_django_fcmdevice" ("user_id");
CREATE INDEX "fcm_django__registr_dacdb2_idx" ON "fcm_django_fcmdevice" ("registration_id", "user_id");
CREATE INDEX "parcelle_notificationlog_farm_id_9857397c" ON "parcelle_notificationlog" ("farm_id");
COMMIT;
